{% extends bigfoot_theme_bundle ~ ':Crud:form.html.twig' %}

{% block form %}
    {{ form_row(form.menu) }}

    {{ form_row(form.parent) }}

    {{ form_row(form.name) }}

    {{ form_row(form.linkType) }}

    {{ form_row(form.route) }}

    <div id="menu-item-route-parameters" data-url="{{ path('admin_menu_item_route_parameters') }}">
        {{ form_row(form.parameters) }}
    </div>

    {{ form_rest(form) }}

    <script>
        $(function() {

            $(".chosen-select").chosen();
            setTranslatableFields();

            $('#bigfoot_menu_item_externalLink')
                .attr('disabled','disabled')
                .parent()
                    .hide();

            $('#bigfoot_menu_item_linkType')
                .on('click', function (event) {
                    console.log('lol');

                    if ($(this).is(':checked')) {
                        $('#bigfoot_menu_item_route')
                            .attr('disabled','disabled')
                            .parent()
                                .hide();

                        $('#menu-item-route-parameters').hide();

                        $('#bigfoot_menu_item_externalLink')
                            .removeAttr('disabled')
                            .parent()
                                .show();
                    } else {
                        $('#bigfoot_menu_item_route')
                            .removeAttr('disabled')
                            .parent()
                                .show();

                        $('#menu-item-route-parameters').show();

                        $('#bigfoot_menu_item_externalLink')
                            .attr('disabled','disabled')
                            .parent()
                                .hide();
                    }
            });

        });
    </script>
{% endblock %}