{% extends bigfoot_theme_bundle ~ ':crud:form' ~ app.request.get('layout') ~ '.html.twig' %}

{% block form %}
    {% if form.menu is defined and form.parent is defined %}
        {{ form_row(form.menu) }}

        {{ form_row(form.parent) }}
    {% endif %}

    {{ form_row(form.name) }}

    <div {% if app.request.get('layout') == '_modal' %}class="hidden"{% endif %}>
        {{ form_row(form.parent) }}
    </div>

    {{ form_row(form.link) }}

    <div class="clear"></div>

    {{ form_rest(form) }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}

    <script type="text/javascript">
        var idParent = "{{ app.request.query.get('parent') }}";
    </script>

    <script src="{{ asset('bundles/bigfootnavigation/js/item.js') }}"></script>
{% endblock %}
