{% extends bigfoot_theme_bundle ~ ':crud:form.html.twig' %}

{% block form %}
    {{ form_row(form.name) }}

    <div class="form-group">
        <div class="col-xs-10 col-sm-5 pull-right">
            <a href="{{ path('admin_menu_item_new', { 'blank': true }) }}" class="modal-trigger btn btn-primary btn-sm" data-toggle="modal" data-target="#add-item">
                Add a new item
            </a>
        </div>
    </div>

    {{ form_row(form.items) }}

    {% if treeViews is defined %}
        {{ treeViews|raw }}
    {% endif %}

    {{ form_rest(form) }}

    {% include 'BigfootAceThemeBundle:layout:modal.html.twig' with { 'name': 'add-item', 'title': 'Add new item' } %}
{% endblock %}

{% block javascripts %}
    {{ parent() }}

    <script src="{{ asset('bundles/bigfootnavigation/js/menu.js') }}"></script>
{% endblock %}