{% extends bigfoot_theme_bundle ~ ':crud:form.html.twig' %}

{% block form %}
    {{ form_row(form.name) }}

    {% if menu.id is not null %}
        <div class="form-group">
            <div class="col-xs-10 col-sm-5 pull-right">
                <button class="ajax-modal btn btn-primary btn-sm" data-toggle="modal" data-url="{{ path('admin_menu_item_new', { 'layout': '_modal' }) }}" data-title="New item">
                    New item
                </button>
            </div>
        </div>

        {{ form_row(form.items) }}

        {% if treeViews is defined %}
            {{ treeViews|raw }}
        {% endif %}
    {% endif %}

    {{ form_rest(form) }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}

    <script src="{{ asset('bundles/bigfootnavigation/js/menu.js') }}"></script>
{% endblock %}